<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X O Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="title">
                <i class="fas fa-times-circle"></i>
                <span>X O</span> Game
                <i class="fas fa-circle"></i> 
            </div>
        </header>
        <div class="game">
            <div class="square" id="item1" onclick="game(this.id)"></div>
            <div class="square" id="item2" onclick="game(this.id)"></div>
            <div class="square" id="item3" onclick="game(this.id)"></div>

            <div class="square" id="item4" onclick="game(this.id)"></div>
            <div class="square" id="item5" onclick="game(this.id)"></div>
            <div class="square" id="item6" onclick="game(this.id)"></div>

            <div class="square" id="item7" onclick="game(this.id)"></div>
            <div class="square" id="item8" onclick="game(this.id)"></div>
            <div class="square" id="item9" onclick="game(this.id)"></div>
        </div>
        <div class="status" id="status">Player X's turn</div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>